{% extends "backend/base.html" %}

{% block title %}AdminLTE 3 | Dashboard{% endblock %}
{% block page_heading %}Dashboard{% endblock %}
{% block breadcrumb %}Dashboard{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{ students|length }}</h3>
        <p>Students</p>
      </div>
      <div class="icon"><i class="ion ion-person-add"></i></div>
      <a href="{% url 'student_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-4 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{ teachers|length }}</h3>
        <p>Teachers</p>
      </div>
      <div class="icon"><i class="ion ion-person"></i></div>
      <a href="{% url 'teacher_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-4 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{ subjects|length }}</h3>
        <p>Subjects</p>
      </div>
      <div class="icon"><i class="ion ion-clipboard"></i></div>
      <a href="{% url 'subject_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
{% endblock %}
